button {
  display: block;
}

img {
  width: 200px;
  height: 200px;
  background-color: #f1f1fa;
}

.cat-container {
  display: inline-block;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.cat-container span {
  display: none;
}

.cat-container:hover span {
  display: block;
  width: 100px;
  height: 40px;
  z-index: 10;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  text-align: center;
  line-height: 40px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.5;
}
